In [1]:
import pandas as pd
import re

In [2]:
#import census tract household income 2015 data
#subset Vancouver data
household_income = pd.read_csv(".../census_tract_median_income_households_2015.csv")
vancouver_household_income = household_income[household_income['Location'].str.contains('Vancouver')]
vancouver_household_income = vancouver_household_income.reset_index(drop=True)

#subset and make separate col for census tract codes
CT = re.findall("0\d{3}\.\d{2}",''.join(vancouver_household_income['Location'].tolist()))
vancouver_household_income['CT'] = CT

#import census tract shapefile 
#subset BC data 
census_tract_shp = pd.read_csv(".../census_tract_shp.csv")
bc_census_tract_shp = census_tract_shp[census_tract_shp['prname'].str.contains("British Columbia / Colombie-Britannique", flags=re.IGNORECASE)]
bc_census_tract_shp = bc_census_tract_shp.reset_index(drop=True)

#shapefile ct digits to match CT code dataset
ctname = bc_census_tract_shp['ctname'].tolist()
padding= []
for i in ctname:
    ii = format(i, '.2f')
    padding.append(ii)
    
padded = []
for i in padding:
    iii = i.zfill(7)
    padded.append(iii)

#make new col in shapefile data for new padded ct
bc_census_tract_shp['CT'] = padded

In [4]:
len(bc_census_tract_shp)

711

In [5]:
#merge shapefile with income dataset 
combined = bc_census_tract_shp.merge(vancouver_household_income, on="CT", how="inner")

cols = ["the_geom", "ctuid", "ctname", "cmauid", "cmaname", "cmapuid", "CT", "Median total income of households in 2015 ($)"]
combined = combined[cols]

In [7]:
combined.head()

,the_geom,ctuid,ctname,cmauid,cmaname,cmapuid,CT,Median total income of households in 2015 ($)
0,0106000020E61000000100000001030000000100000019...,9330144.05,144.05,933,Vancouver,59933,0144.05,69056.0
1,0106000020E6100000010000000103000000010000009B...,9250021.00,21.00,925,Kamloops,59925,0021.00,143155.0
2,0106000020E610000001000000010300000001000000C8...,9700021.00,21.00,970,Prince George,59970,0021.00,143155.0
3,0106000020E6100000010000000103000000010000007D...,9330021.00,21.00,933,Vancouver,59933,0021.00,143155.0
4,0106000020E610000001000000010300000001000000B5...,9300021.00,21.00,930,Chilliwack,59930,0021.00,143155.0